@import "tailwindcss";

@theme {
	--color-primary-first: #d6ccc3;
	--color-primary-second: #a59c93;
}
@layer utilities {
	.text-shadow {
		filter: drop-shadow(1px 2px 3px #30303078);
	}
	.shadow-img-cat {
		filter: drop-shadow(40px 30px 20px #363535);
	}
	.primary-btn {
		@apply rounded-3xl font-semibold hover:bg-primary-second hover:scale-110 px-6 py-2 border-solid border-2 cursor-pointer;
	}
	.primary-btn1 {
		@apply rounded-lg font-semibold  hover:scale-110 px-4 py-1  text-white bg-purple-600 cursor-pointer;
	}
	.shadow-img {
		filter: drop-shadow(20px 20px 20px #7d7b7b);
	}
	.input-text {
		@apply rounded-lg border border-gray-400 pl-3 max-w-[120px];
	}
}
